.App {
  text-align: center;
}


.App-link {
  color: red;
}

.logo img {
  /* height: 100px;
  width: 100px;
  align-content: ;
  display:flex;
  justify-content: left; */
  height: 20vh;
  width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  background-color:white;
}

.App {
  background-color: black;
  height: 100vh;
}
#step1 {
  object-fit: cover;
  width: 50%;
}
/* .my_class_name {
  margin: 0 auto;
  border: 10px outset #ddd; */
/* } */
.Video {
  background-color:grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.Video-Container {
  background-color: grey(212, 21, 21);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
}
  .Header .inputs-container {
  display: flex;
  flex-direction: column;
  height: 30px;
   border:2px solid rgb(73, 71, 71); 
   border-radius: 4px;
  width: 5%;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}  

input[type=password]{
  width:100%;
}
input[type=text]{
  width:120%;
 
}

.Header{
  background-color:grey;
  flex-direction: row;
  height: 22%;
  width:100vw;
  position:left;
  display:flex;
  justify-content:space-between;
  margin:0;
  

}
.my_class_name {
  margin: 0 auto;
  border: 10px outset #ddd;
}

#search{
  background-color: white;
  height: 20px;
  width:10vw;
  color:blue;
}
.button1{
  border:grey;
  height: 100vh;
}
/* #fitness:hover{
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out 0s;
} */




  
